# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end

# Build artifacts
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
.moc/
lib/
qtdir
systeme
version
version.h
qt/version.h
qt/pigale
*.qm
