
body    {background-color: #D0F0D0;
	color: #000000;
	}
 :link  {color: #00A0FF; 
	background-color: #D0F0D0;
	}
 :visited {color: #F000F0; 
	background-color: #D0F0D0;	
	}
 :active {color: #FF0000; 
	background-color: #D0F0D0;
	}
table,td,tr{color: #000000;
	background-color: #D0F0D0;
	padding: 1em
	}
td.c1   {color: #00520E;
	background-color: #92AC96;
	font-family: Helvetica;
	font-size: 172%;
	}
h1.c1   {color: #33663C;
	background-color: #d0f0d0;
	font-family: Helvetica;
	font-size: 180%;
	}
h2.c1  {color: #33663C;
	background-color: #d0f0d0;
	font-family: Helvetica;
	font-size: 144%;
	}

table.c2{color: #000000;
	background-color: #d0f0d0;
	font-color: #000000;
	width: 90%;
	padding: 2px;
	}
td.c2   {color: #000000;
	background-color: #d0f0d0;
	font-family: Helvetica;
	font-color: #000000;
	font-size: 180%;
	font-weight: bolder;
	}
h2.c2  {color: #000000;
	background-color: #d0f0d0;
	font-family: Helvetica;
	font-size: 144%;
	}
H1      {color: #33663C;
	background-color: #D0F0D0;
	}
